*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
}

/* Header */
header{
    font-family: Edu Tas Beginner, sans-serif;
    background-image: url(../img/wall.png);
    padding: 1rem;
}

.title{
    padding: 1rem 0 0 0;
    font-size: 88px;
    font-weight: bold;
    text-transform: uppercase;
}

/* End Header */

/* Main */

main{
    font-family:  Sometype Mono, monospace;
}


small{
    color: #7b7a7d;
}

.titles{
    font-family: Edu Tas Beginner, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.my-row{
    padding: 2rem;
}

.my-img{
    position: relative;
    bottom: 25px;
}

.cork-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    .cork{
        align-self: center;
        width: 15%;
    }
}

img{
    vertical-align: middle;
    width: 100%;  
}

.my-card{
    border: none !important;
    border-radius: 0 !important;
}

#hidden-div{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    #my-button{
        align-self: center;
        padding: 0.25rem;
        background-color: white;
        font-family: sans-serif;
        margin: 1rem;
    }
    .hidden-img{
        align-self: center;
        max-height: 500px;
        max-width: 500px;
    }
}

.my-card{
    &:hover{
        transform: scale(1.3, 1.3);
        rotate: 10deg;
        box-shadow: 20px 20px 10px rgba(128, 128, 128, 0.7);
        .cork{
            display: none;
        }
    }
}

/* End Main */


@media screen and (max-width: 575px) {
    .my-row{
        display: flex;
        flex-direction: column;
    }
}
