*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
}

/* Header */
header{
    font-family: Edu Tas Beginner, sans-serif;
    background-image: url(../img/wall.png);
    padding: 1rem;
}

/* End Header */

/* Main */

main{
    font-family:  Sometype Mono, monospace;
}

small{
    color: #7b7a7d;
}

.title{
    font-family: Edu Tas Beginner, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.my-row{
    padding: 2rem;
}

img{
    width: 100%;
}

.my-card{
    border: none !important;
}
/* End Main */