*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
}

/* Header */
header{
    font-family: Edu Tas Beginner, sans-serif;
    background-image: url(../img/wall.png);
    padding: 1rem;
}

.title{
    padding: 1rem 0 0 0;
    font-size: 75px;
    font-weight: bolder;
    text-transform: uppercase;
}

/* End Header */

/* Main */

main{
    font-family:  Sometype Mono, monospace;
}


small{
    color: #7b7a7d;
}

.titles{
    font-family: Edu Tas Beginner, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.my-row{
    padding: 2rem;
}

.my-img{
    position: relative;
    bottom: 25px;
}

.cork-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 22px;
    .cork{
        width: 10%;
    }
}

img{
    width: 100%;
}

.my-card{
    border: none !important;
    border-radius: 0 !important;
}

/* End Main */